@page "/_Host"
@{
 Layout = null;
}
<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <title>Rent</title>
</head>
<body>
 <component type="typeof(Microsoft.AspNetCore.Mvc.RazorPages.PageView)" render-mode="ServerPrerendered" />
</body>
</html>